<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 全局配置参数，需要时再设置 -->
    <settings>
        <!-- 通过日志记录显示 myBatis 的执行过程 -->
        <setting name="logImpl" value="log4j"/>
        <!-- lazyLoadingEnabled 设置为懒加载 -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- aggressiveLazyLoading 主动加载为 false -->
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>
</configuration>