<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vimemacs.dao.IceUserAddressDao">
    <select id="findById" parameterType="Integer" resultType="com.vimemacs.model.IceUserAddress">
        SELECT * FROM ice_user_address WHERE id = #{id}
    </select>
</mapper>
