<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vimemacs.dao.UserDao">
    <sql id="userField">
        a.id as "id",
        a.name as "name",
        a.password as "password"
    </sql>
    <!-- 获取所有用户 -->
    <select id="findAll" resultType="com.vimemacs.model.User">
        select
            <include refid="userField"/>
        from user as a
    </select>
    <!-- 根据用户 ID 查询 user 表 -->
    <select id="findById" parameterType="String" resultType="com.vimemacs.model.User">
        select * from user
        where id = #{id}
    </select>
    <!-- 通过名称查询用户 -->
    <select id="findByName" parameterType="String" resultType="com.vimemacs.model.User">
        select * from user
        where name = #{name}
    </select>
    <!-- 通过名称查询用户个数 -->
    <select id="countByName" parameterType="String" resultType="int">
        select count(*) from user
        where name = #{name}
    </select>
</mapper>